<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <appSettings>
    <add key ="InstallerPath" value="E:\Omni"/>
    <add key="InstallerName" value="Preinstalled.Personify.2.5.4.19.-.Setup.exe"/>
    <add key ="InstalledPath" value="C:\Program Files (x86)\Personify\Omni"/>
    <add key="InstalledName" value="PersonifyLauncher.exe"/>
    <add key="RunningProcessName" value="Personify"/>
  </appSettings>
</configuration>